{% extends "learning_logs/base.html" %}

{% block content %}

<div class="container mt-4">
    <div class="card p-4 shadow-sm" style="max-width: 500px; margin: 0 auto;">
        <h4 class="mb-4" style="color: #a776f5">Editar Tópico: {{ topic }}</h4>
        
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" 
                       name="topic-text" 
                       value="{{ topic.text }}"
                       class="form-control"
                       style="border: 1px solid #a776f5; padding: 8px;">
            </div>
            <button type="submit" 
                    class="btn text-white" 
                    style="background-color: #a776f5; padding: 8px 16px;">
                Editar
            </button>
        </form>
    </div>
</div>

{% endblock content %}
