{% extends "learning_logs/base.html" %}

{% block content %}

<div>
    <div class="container py-5">
        <h1 class=" display-5 fw-bold text-center" style="color: #fa96a5" mb-4>
            Domine seus estudos com clareza e eficiência! 📚
        </h1>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p class="lead text-muted mb-4" style="text-align: justify;">
                    Crie seu cadastro agora e comece a listar todos os tópicos que
                    você está explorando. Cada novo conhecimento merece um registro - assim, você nunca perde o fio da
                    meada!
                </p>

                <div>
                    <h1 class="display-5 fw-bold " style="color: #60d5fc" mb-4>
                        Aprendeu algo novo? Anote na hora! 📝
                    </h1>
                    <p class="lead text-muted mb-4" style="text-align: justify;">
                        Registre suas descobertas em entradas rápidas e objetivas. Com o tempo, você terá um mapa
                        completo do seu
                        progresso, revisando e reforçando cada conceito com facilidade.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}