{% extends "learning_logs/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="class= text-center mb-4 display-5 fw-bold" style="color: #a776f5">Tópicos:</h2>
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    {% for topic in topics %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                            <a class="text-decoration-none text-dark fs-5" href="{% url 'topic' topic.id %}"> {{ topic }} </a>
                        </li>
                        {% empty %}
                        <p class="text-muted fs-5"> Ainda não há tópicos adicionados! </p>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-lg px-4 text-white" style="background-color: #a776f5"
                        href="{% url 'new_topic' %}">Adicionar novos tópicos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}